div#App {
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  text-align: center;
  border: 1px solid gray;
  box-shadow: 3px 3px 3px #ddd;
  font-size: 10pt;

  >div {
    background-color: #eee;
    padding: 1em;

    p {
      font-size: 22pt;
      color: blue;
      margin: 0;
    }

    button {
      padding: 0.4em 1em;
      margin: .5em;
    }
  }
}